@use "../../../styles/main.scss" as *;

.PlayView {
  @include stack;
  @include h-center;
  @include v-pad($gap-xxl);
  min-height: 100%;
}

.NoTracksView {
  @include v-stack-c;
  @include pad($gap-xxl);
  @include v-mar(auto);
  width: 90%;
  max-width: 400px;
  height: fit-content;
  .NoTracksView__icon {
    align-self: center;
    font-size: 90px;
    * {
      color: var(--disabled-3);
    }
  }
  .NoTracksView__text * {
    text-align: center;
    color: var(--disabled-3);
    font-size: $txt-ml;
    .NoTracksView__text__link {
      @include hyperlink;
    }
    .NoTracksView__text__icon {
      @include l-mar;
      vertical-align: middle;
      display: inline;
      font-size: $txt-lg;
    }
  }
}

.TracksView {
  @include v-stack;
  @include vh-pad($gap-lg, $gap-xxl);
  width: 100%;
  max-width: 500px;
  gap: calc($gap-xxl * 1.5);
  .TracksView__header {
    @include vh-pad($gap-sm, $gap-lg);
    @include round;
    @include stack;
    align-self: self-end;
    font-size: $txt-ms;
    font-weight: bold;
    text-transform: uppercase;
    background: var(--main-gradient);
    color: var(--txt-light);
    width: fit-content;
  }
}