@use "../../../styles/main.scss" as *;
.ProfileView {
  @include v-stack;
  @include pad;
  align-items: center;
  justify-content: center;
  .brand {
    @include pad($gap-lg);
    @include h-stack-c;
    .name {
      font-size: $txt-lg;
    }
    .logo {
      @include r-pad;
      height: 40px;
    }
  }
  .auth-form {
    @include pad;
    @include v-stack;
    @include center;
    max-width: 275px;
    width: 100%;
    input {
      @include pad;
      @include round;
      width: 100%;
    }
    gap: $gap-lg;
    .error {
      color: var(--danger-3);
    }
  }
  .bottom-text {
    @include pad;
    color: var(--txt);
    .click-link {
      @include hyperlink;
    }
  }
}
