@use "../../styles/main.scss" as *;

.RecordingLayout {
  @include v-stack;
  gap: $gap-md;
  .RecordingLayout__options {
    @include h-stack-c;
    @include to-right;
    gap: $gap-lg;
    .RecordingLayout__options__option {
      @include round;
      @include pad;
      @include clickable;
      font-size: $txt-xl;
      * {
        color: var(--txt-light);
      }
      &#trash {
        background-color: var(--danger-3);
        &:hover {
          background-color: var(--danger-4);
        }
      }
      &#check {
        background-color: var(--success-3);
        &:hover {
          background-color: var(--success-4);
        }
      }
    }
  }
  .RecordingLayout__buttons {
    @include t-pad;
    @include h-stack-c;
    justify-content: space-between;
    gap: $gap-lg;
    .RecordingLayout__button {
      text-align: center;
      background: var(--main-gradient);
      border: none;
      &#trash {
        background: none;
        background-color: var(--danger-3);
      }
    }
  }
  .RecordingLayout__variations {
    .RecordingLayout__variations__variation {
      scale: 0.9;
    }
  }
}
