@use "../../styles/main.scss" as *;

.RecordingLayout {
  @include v-stack;
  @include round;
  @include pad($gap-lg);
  height: min-content;
  gap: $gap-md;
  box-shadow: $gap-ms $gap-ms $gap-ms #00000022;
  background-color: var(--bg-3);
  .RecordingLayout__tags {
    @include l-pad;
  }
  .RecordingLayout__main-container {
    @include v-stack;
    gap: $gap-lg;
    .RecordingLayout__date {
      @include crop-text;
      @include stack;
      @include t-mar(auto);
      align-self: flex-start;
      overflow: hidden;
      color: var(--disabled-3);
      font-size: $txt-sm;
    }
    .RecordingLayout__player-container {
      @include h-stack-c;
    }
  }
  .RecordingLayout__buttons {
    @include t-pad;
    @include h-stack-c;
    justify-content: space-between;
    gap: $gap-lg;
    .RecordingLayout__button {
      @include h-stack-c;
      text-align: center;
      background: var(--main-gradient);
      border: none;
      width: 100%;
      align-items: center;
      justify-content: center;
      &:hover:not(:disabled) {
        filter: brightness(120%);
      }
    }
    .RecordingLayout__icons {
      @include h-stack-c;
      gap: $gap-ml;
      .RecordingLayout__icons__icon {
        @include round;
        @include hyperlink(var(--primary-3), var(--primary-4));
        background: none;
      }
    }
  }
  .RecordingLayout__variations {
    .content {
      @include v-stack-c;
      // scale: 0.98;
      gap: $txt-ml;
      .RecordingLayout__player-container {
        @include v-stack;
        .RecordingLayout__player-container__player {
          @include h-stack-c;
        }
        .RecordingLayout__player-container__tags {
          @include l-pad($gap-lg);
        }
      }
    }
  }
}
