@use "../../../styles/main.scss" as *;
.HarmonizerDemo {
  @include v-stack;
  @include round;
  @include pad($gap-lg);
  max-width: 600px;
  background-color: var(--bg-2);
  * {
    color: var(--txt);
  }
  .header {
    font-size: $txt-lg;
    font-weight: bold;
    text-transform: uppercase;
  }
  .select {
    @include round;
    @include h-pad;
    background-color: var(--bg-5);
    color: var(--txt);
  }
  label {
    @include v-center;
    text-transform: lowercase;
  }
  .fieldset {
    @include round-border;
    @include pad($gap-xxl);
    gap: $gap-lg;
    &.settings,
    &.audio-ctrl {
      @include col-grid(150px auto);
    }
    .legend {
      @include pad;
      font-weight: bold;
      text-transform: uppercase;
    }
    .checkbox {
      @include to-left;
      @include l-mar;
      width: $txt-ml;
      height: $txt-ml;
    }
    .processing {
      color: var(--primary-4);
    }
  }
}
