@use "../../../styles/main.scss" as m;

#team {
  clip-path: polygon(0 0, 100% m.$gap-xxl, 100% calc(100% - m.$gap-xxl), 0 100%);
  .body {
    .TeamAnchor__subtitle {
      text-align: center;
      &,
      * {
        font-size: m.$txt-lg;
      }
      b {
        @include m.text-gradient;
      }
    }
    .team-profiles {
      @include m.t-mar(m.$gap-xxl);
      @include m.h-stack-c;
      @include m.mobile-down {
        @include m.v-stack-c;
      }
      justify-content: center;
      gap: m.$gap-xxl;
      .profile {
        @include m.v-stack;
        gap: m.$gap-xl;
        .profile-name,
        .profile-role {
          font-size: m.$txt-lg;
          text-align: center;
        }
        .profile-name {
          &:hover {
            color: var(--primary-5);
          }
          color: var(--primary-4);
        }
        .profile-role {
          color: var(--txt);
        }
        .profile-photo {
          @include m.round(100%);
          height: 250px;
          width: 250px;
          @include m.mobile-down {
            max-width: 220px;
            max-height: 220px;
          }
        }
      }
    }
  }
  .TeamAnchor__footer {
    @include m.t-pad(m.$gap-xxl);
    font-size: m.$txt-lg;
    text-align: center;
  }
}
