@use "../../../../styles/main.scss" as *;

.AuthenticationView {
  @include v-stack;
  @include center;
  .AuthenticationView__brand {
    @include pad($gap-lg);
    @include h-stack-c;
    .AuthenticationView__brand__name {
      font-size: $txt-lg;
    }
    .AuthenticationView__brand__logo {
      @include r-pad;
      height: 40px;
    }
  }
  .AuthenticationView__auth-form {
    @include pad;
    @include v-stack;
    @include center;
    max-width: 275px;
    width: 100%;
    input {
      @include pad;
      @include round;
      width: 100%;
    }
    gap: $gap-lg;
    .error {
      color: var(--danger-3);
    }
  }
  .AuthenticationView__footer {
    @include pad;
    color: var(--txt);
    .AuthenticationView__footer__click-link {
      @include hyperlink;
    }
  }
}
