@use "../../styles/main.scss" as *;

.MobileNavbar {
  .links {
    .link {
      @include clickable;
      @include v-stack-c;
      &.--selected {
        .line {
          background-color: var(--primary-4);
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
        .icon * {
          color: var(--txt-light);
        }
      }
      .line {
        height: $gap-ms;
      }
      .icon {
        * {
          color: var(--disabled-4);
        }
      }
    }
  }
}
