@use "../../styles/main.scss" as m;

.AnchorNavbar {
  @include m.h-stack-c;
  @include m.h-pad(m.$gap-xxl);
  z-index: 10;
  position: fixed;
  width: 100%;
  min-height: m.$navbar-height;
  gap: m.$gap-xxl;
  background-color: var(--bg-2);
  justify-content: end;
  box-shadow: 0px 3px 4px #00000011;
  .navbar-link {
    @include m.hyperlink;
    text-transform: uppercase;
    font-weight: bold;
  }
  .hamburger {
    .navbar-link {
      @include m.v-stack-c;
      @include m.round;
      @include m.pad(m.$gap-lg);
      @include m.shadow;
      min-width: 120px;
      background-color: var(--bg-3);
      gap: m.$gap-xl;
      * {
        color: var(--primary-3);
        text-transform: uppercase;
      }
    }
  }
}
