@use "../../../../../styles/main.scss" as *;

.HarmonizerSettings {
  @include col-grid(min-content auto);
  gap: $gap-xl;
  width: 100%;
  .HarmonizerSettings__label {
    @include stack;
    width: 100%;
    align-self: center;
    font-size: $txt-ml;
    white-space: nowrap;
    color: var(--txt);
  }
  .HarmonizerSettings__swipe-menu {
    @include stack;
    @include h-center;
    width: 100%;
    .HarmonizerSettings__swipe-menu__option {
      @include no-select;
      width: 100%;
      text-align: center;
      font-size: $txt-md;
      text-transform: uppercase;
      font-weight: bold;
      color: var(--txt);
    }
  }
}
