:root {
  --primary-hue: 200;
  --secondary-hue: 250;
  --saturation: 25%;

  // background colors
  --bg-1: hsl(var(--primary-hue), var(--saturation), 98%);
  --bg-2: hsl(var(--primary-hue), var(--saturation), 96%);
  --bg-3: hsl(var(--primary-hue), var(--saturation), 94%);
  --bg-4: hsl(var(--primary-hue), var(--saturation), 92%);
  --bg-5: hsl(var(--primary-hue), var(--saturation), 90%);

  // foreground
  --fg-1: hsl(var(--primary-hue), var(--saturation), 5%);
  --fg-2: hsl(var(--primary-hue), var(--saturation), 8%);
  --fg-3: hsl(var(--primary-hue), var(--saturation), 12%);
  --fg-4: hsl(var(--primary-hue), var(--saturation), 16%);
  --fg-5: hsl(var(--primary-hue), var(--saturation), 20%);

  // disabled
  --disabled-1: hsl(var(--primary-hue), 25%, 42%);
  --disabled-2: hsl(var(--primary-hue), 25%, 46%);
  --disabled-3: hsl(var(--primary-hue), 25%, 50%);
  --disabled-4: hsl(var(--primary-hue), 25%, 54%);
  --disabled-5: hsl(var(--primary-hue), 25%, 58%);

  // primary colors
  --primary-1: hsl(var(--primary-hue), 70%, 25%);
  --primary-2: hsl(var(--primary-hue), 70%, 37%);
  --primary-3: hsl(var(--primary-hue), 70%, 50%);
  --primary-4: hsl(var(--primary-hue), 70%, 62%);
  --primary-5: hsl(var(--primary-hue), 70%, 75%);

  // secondary colors
  --secondary-1: hsl(var(--secondary-hue), 45%, 25%);
  --secondary-2: hsl(var(--secondary-hue), 45%, 37%);
  --secondary-3: hsl(var(--secondary-hue), 45%, 50%);
  --secondary-4: hsl(var(--secondary-hue), 45%, 62%);
  --secondary-5: hsl(var(--secondary-hue), 45%, 75%);

  --main-gradient: linear-gradient(90deg, var(--primary-3) 0%, var(--secondary-3) 100%);
  --secondary-gradient: linear-gradient(90deg, var(--secondary-3) 0%, var(--primary-3) 100%);

  // success
  --success-1: hsl(150, 60%, 25%);
  --success-2: hsl(150, 60%, 37%);
  --success-3: hsl(150, 60%, 50%);
  --success-4: hsl(150, 60%, 62%);
  --success-5: hsl(150, 60%, 75%);

  // danger
  --danger-1: hsl(350, 60%, 37%);
  --danger-2: hsl(350, 60%, 50%);
  --danger-3: hsl(350, 60%, 62%);
  --danger-4: hsl(350, 60%, 75%);
  --danger-5: hsl(350, 60%, 90%);

  // caution
  --caution-1: hsl(38, 90%, 25%);
  --caution-2: hsl(38, 90%, 37%);
  --caution-3: hsl(38, 90%, 50%);
  --caution-4: hsl(38, 90%, 62%);
  --caution-5: hsl(38, 90%, 75%);

  --txt-dark: var(--fg-5);
  --txt-light: var(--bg-1);

  --txt: var(--fg-5);
  --txt-negative: var(--bg-1);

  @media (prefers-color-scheme: dark) {
    --saturation: 20%;
    // foreground
    --fg-1: hsl(var(--primary-hue), var(--saturation), 95%);
    --fg-2: hsl(var(--primary-hue), var(--saturation), 93%);
    --fg-3: hsl(var(--primary-hue), var(--saturation), 91%);
    --fg-4: hsl(var(--primary-hue), var(--saturation), 89%);
    --fg-5: hsl(var(--primary-hue), var(--saturation), 87%);

    // background colors
    --bg-1: hsl(var(--primary-hue), var(--saturation), 9%);
    --bg-2: hsl(var(--primary-hue), var(--saturation), 12%);
    --bg-3: hsl(var(--primary-hue), var(--saturation), 15%);
    --bg-4: hsl(var(--primary-hue), var(--saturation), 18%);
    --bg-5: hsl(var(--primary-hue), var(--saturation), 21%);

    --txt: var(--fg-1);
    --txt-negative: var(--bg-5);

    // danger
    --danger-1: hsl(350, 60%, 25%);
    --danger-2: hsl(350, 60%, 37%);
    --danger-3: hsl(350, 60%, 50%);
    --danger-4: hsl(350, 60%, 62%);
    --danger-5: hsl(350, 60%, 75%);

    --txt-dark: var(--bg-5);
    --txt-light: var(--fg-1);
  }
}
