@use "sizes";

/* flex orientations and centerings */
@mixin stack {
  display: flex;
}

@mixin v-stack {
  @include stack;
  flex-direction: column;
}

@mixin h-stack {
  @include stack;
  flex-direction: row;
}

@mixin v-center {
  @include stack;
  align-items: center;
}

@mixin h-center {
  @include stack;
  justify-content: center;
}

@mixin center {
  @include h-center;
  @include v-center;
}

@mixin h-stack-c {
  @include h-stack;
  @include v-center;
}

@mixin v-stack-c {
  @include v-stack;
  @include h-center;
}

/* margin-based positioning */
@mixin to-right {
  @include stack;
  margin-left: auto;
}

@mixin to-left {
  @include stack;
  margin-right: auto;
}

@mixin to-top {
  @include stack;
  margin-bottom: auto;
}

@mixin to-bottom {
  @include stack;
  margin-top: auto;
}

/* flex wrapping */
@mixin wrap {
  flex-wrap: wrap;
}

/* padding */
@mixin l-pad($gap: sizes.$gap-md) {
  padding-left: $gap;
}

@mixin r-pad($gap: sizes.$gap-md) {
  padding-right: $gap;
}

@mixin t-pad($gap: sizes.$gap-md) {
  padding-top: $gap;
}

@mixin b-pad($gap: sizes.$gap-md) {
  padding-bottom: $gap;
}

@mixin h-pad($gap: sizes.$gap-md) {
  @include l-pad($gap);
  @include r-pad($gap);
}

@mixin v-pad($gap: sizes.$gap-md) {
  @include t-pad($gap);
  @include b-pad($gap);
}

@mixin vh-pad($v: sizes.$gap-md, $h: sizes.$gap-md) {
  @include v-pad($v);
  @include h-pad($h);
}

@mixin pad($gap: sizes.$gap-md) {
  padding: $gap;
}

/* margins */

@mixin l-mar($gap: sizes.$gap-md) {
  margin-left: $gap;
}

@mixin r-mar($gap: sizes.$gap-md) {
  margin-right: $gap;
}

@mixin t-mar($gap: sizes.$gap-md) {
  margin-top: $gap;
}

@mixin b-mar($gap: sizes.$gap-md) {
  margin-bottom: $gap;
}

@mixin h-mar($gap: sizes.$gap-md) {
  @include l-mar($gap);
  @include r-mar($gap);
}

@mixin v-mar($gap: sizes.$gap-md) {
  @include t-mar($gap);
  @include b-mar($gap);
}

@mixin vh-mar($v-gap: sizes.$gap-md, $h-gap: sizes.$gap-md) {
  @include h-mar($h-gap);
  @include v-mar($v-gap);
}

@mixin mar($gap: sizes.$gap-md) {
  margin: $gap;
}

@mixin col-grid($sizes...) {
  display: grid;
  grid-template-columns: $sizes;
}

@mixin row-grid($sizes...) {
  display: grid;
  grid-template-rows: $sizes;
}

@mixin trans($time: 0.2s) {
  transition: $time ease-in-out;
  &:hover {
    transition: $time ease-in-out;
  }
}

@mixin clickable {
  @include trans;
  &:not([disabled]) {
    cursor: pointer;
  }
}

@mixin hyperlink($col: var(--primary-3), $col-hl: var(--primary-4)) {
  &,
  * {
    @include trans;
    @include clickable;
    @include no-select;
    color: $col;
  }
  &:hover,
  &:hover * {
    @include trans;
    color: $col-hl;
  }
}

@mixin border($col: var(--bg-5), $size: sizes.$border-sm) {
  border: $size solid $col;
}

@mixin round($radius: sizes.$radius-md) {
  border-radius: $radius;
}

@mixin round-border($args...) {
  @include border($args...);
  @include round;
}

@mixin btn($bg-col: var(--primary-3), $bg-col-hl: var(--primary-4), $fg-col: var(--txt-light)) {
  @include clickable;
  @include round-border;
  @include vh-pad(sizes.$gap-ms, sizes.$gap-xl);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: $bg-col;
  color: $fg-col;
  &:not([disabled]):hover {
    background-color: $bg-col-hl;
  }
}

@mixin grow($grow: 1.125) {
  &:hover {
    scale: $grow;
  }
}

@mixin card {
  @include btn;
  &:hover {
    @include grow;
  }
}

@mixin crop-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin on-load-animation($name, $dur: 0.2s) {
  -webkit-animation: $name $dur ease-in-out 0s 1 normal forwards;
  animation: $name $dur ease-in-out 0s 1 normal forwards;
}

@mixin range-thumb {
  -webkit-appearance: none;
  touch-action: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--primary-3);
  margin-top: -7px;
}

@mixin range-track {
  height: 3px;
  background: var(--bg-5);
  border: none;
  border-radius: 3px;
}

@mixin shadow($x: 0px, $y: 5px, $blur: 5px, $col: #00000055) {
  box-shadow: $x $y $blur $col;
}

@mixin no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
