/* font sizes */
$txt-xxs: 8px;
$txt-xs: 10px;
$txt-sm: 12px;
$txt-ms: 13.5px;
$txt-md: 15px;
$txt-ml: 18px;
$txt-lg: 24px;
$txt-xl: 30px;
$txt-xxl: 40px;

/* gap sizes */
$gap-xxs: 0.5px;
$gap-xs: 1px;
$gap-sm: 2.5px;
$gap-ms: 3.5px;
$gap-md: 5px;
$gap-ml: 7px;
$gap-lg: 10px;
$gap-xl: 15px;
$gap-xxl: 25px;

/* border sizes */
$border-xxs: 0.5px;
$border-xs: 1px;
$border-sm: 1.5px;
$border-ms: 2px;
$border-md: 2.5px;
$border-ml: 3px;
$border-lg: 5px;
$border-xl: 7px;
$border-xxl: 10px;

/* radius (roundness) */
$radius-sm: 2.5px;
$radius-md: 5px;
$radius-lg: 10px;

/* navbar */
$navbar-height: 65px;
