@use "../../../../styles/main.scss" as *;

.MyIdeasView {
  @include v-stack;
  @include vh-pad($gap-lg, $gap-xxl);
  width: 100%;
  gap: calc($gap-xxl * 1.5);
  .TracksView__header {
    @include vh-pad($gap-sm, $gap-lg);
    @include round;
    @include stack;
    align-self: self-start;
    font-size: $txt-ms;
    font-weight: $bold;
    text-transform: uppercase;
    background: var(--main-gradient);
    color: var(--txt-light);
    width: fit-content;
  }
  .TracksView__recordings {
    @include on-load-animation(slide-down);
    @include v-stack-c;
    width: 100%;
    gap: calc($gap-xxl * 1.5);
    @include mobile-up {
      @include col-grid(1fr 1fr);
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include desktop-medium-up {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @include desktop-large-up {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
