@use "../../../../styles/main.scss" as *;

.MicrophoneView {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  height: 100%;
  .MicrophoneView__title {
    @include v-stack;
    @include pad;
    @include v-mar($gap-xxl);
    @include on-load-animation(slide-up);
    justify-self: center;
    height: fit-content;
    width: 80%;
    max-width: 400px;
    gap: $gap-md;
    .MicrophoneView__title__label {
      text-align: center;
      letter-spacing: $gap-xxs;
      font-size: $txt-ms;
      color: var(--disabled-3);
      text-transform: uppercase;
    }
    .MicrophoneView__title__input {
      @include stack;
      @include round(30px);
      @include pad;
      &::placeholder {
        color: var(--disabled-3);
      }
      box-sizing: border-box;
      box-shadow: $gap-sm $gap-sm $gap-sm #00000022;
      font-size: $txt-ml;
      color: var(--txt);
      text-align: center;
      background-color: var(--bg-1);
      outline-color: var(--secondary-4);
    }
  }
  .MicrophoneView__center-container {
    @include v-stack-c;
    @include v-center;
    @include on-load-animation(fade-in);

    .MicrophoneView__prompt {
      @include stack;
      @include v-pad($gap-lg);
      .MicrophoneView__prompt__slide {
        @include no-select;
        text-align: center;
        width: 100%;
        min-width: 280px;
        text-transform: uppercase;
        color: var(--disabled-3);
      }
    }
    .MicrophoneView__icon {
      @include clickable;
      @include center;
      @include h-mar(auto);
      font-size: 130px;
      * {
        @include trans;
        text-align: center;
        filter: drop-shadow(0px 0px 1px var(--primary-4));
        color: var(--primary-4);
      }
      &.--is-recording {
        * {
          filter: drop-shadow(0px 0px 1px var(--primary-4));
          color: var(--primary-4);
        }
      }
      &:hover {
        * {
          filter: drop-shadow(0px 0px 1px var(--danger-3));
          color: var(--danger-3);
        }
      }
    }
  }
  .MicrophoneView__settings {
    @include h-mar(auto);
    @include h-pad($gap-lg);
    @include on-load-animation(slide-down);
    max-width: 350px;
    width: 100%;
    .MicrophoneView__settings__setting {
      height: 100%;
      width: 100%;
    }
  }
}

.dark .MicrophoneView .MicrophoneView__title__input {
  background-color: var(--bg-3);
}
