@use "../../../../styles/main.scss" as *;

.MicrophoneView {
  @include v-stack-c;
  @include center;
  .MicrophoneView__text {
    @include v-mar($gap-lg);
    font-size: $txt-ml;
    text-transform: lowercase;
    color: var(--fg-5);
  }
  .MicrophoneView__icon {
    @include clickable;
    font-size: 130px;
    * {
      @include trans;
      text-align: center;
      filter: drop-shadow(0px 0px 1px var(--primary-4));
      color: var(--primary-4);
    }
    &.--is-recording {
      * {
				filter: drop-shadow(0px 0px 1px var(--primary-4));
        color: var(--primary-4);
      }
    }
    &:hover {
      * {
        filter: drop-shadow(0px 0px 1px var(--danger-3));
        color: var(--danger-3);
      }
    }
  }
}
