@use "../../../../styles/main.scss" as *;

.MicrophoneView {
  @include v-stack-c;
  @include h-center;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  height: 100%;
  .MicrophoneView__title {
    @include stack;
    @include round-border(var(--bg-5));
    @include pad;
    @include t-mar($gap-xxl);
    height: fit-content;
    font-size: $txt-ml;
    color: var(--txt);
    background-color: var(--bg-1);
    outline-color: var(--secondary-4);
    text-align: center;
    &::placeholder {
      color: var(--disabled-3);
    }
  }
  .MicrophoneView__tapper {
    @include stack;
    @include t-mar($gap-xxl);
    @include h-center;
    align-items: flex-start;
  }

  .MicrophoneView__icon {
    @include clickable;
    @include center;
    @include h-mar(auto);
    font-size: 130px;
    * {
      @include trans;
      text-align: center;
      filter: drop-shadow(0px 0px 1px var(--primary-4));
      color: var(--primary-4);
    }
    &.--is-recording {
      * {
        filter: drop-shadow(0px 0px 1px var(--primary-4));
        color: var(--primary-4);
      }
    }
    &:hover {
      * {
        filter: drop-shadow(0px 0px 1px var(--danger-3));
        color: var(--danger-3);
      }
    }
  }
}
