@use "../../styles/main.scss" as m;

.EmailListForm {
  @include m.v-stack;
  @include m.t-mar(m.$gap-xxl);
  gap: m.$gap-lg;
  input,
  textarea {
    @include m.round;
    @include m.vh-pad(m.$gap-ms, m.$gap-ml);
    font-size: m.$txt-ml;
    background-color: var(--bg-1);
    color: var(--txt);
    @media (prefers-color-scheme: dark) {
      background-color: var(--bg-4) !important;
    }
  }
  label {
    @include m.l-pad;
    color: var(--txt);
    font-size: m.$txt-ml;
  }
  textarea {
    resize: none;
    height: 150px;
  }
  input[type="checkbox"] {
    @include m.clickable;
    @include m.r-mar(m.$gap-md);
    scale: 1.3;
  }
  .error {
    color: var(--danger-4);
  }
  .Button {
    font-size: m.$txt-ml;
    align-self: center;
  }
  .EmailListForm__success-message {
    text-align: center;
    font-size: m.$txt-ml;
    color: var(--success-3);
  }
}
