@use "../../styles/main.scss" as *;

.MusicScoreDisplay {
  @include v-stack-c;
  width: 100%;
  .MusicScoreDisplay__score-container {
    @include on-load-animation(fade-in, 1s);
    @include v-stack;
    @include round-border;
    overflow: auto;
    max-height: 260px;
    width: 100%;
    background-color: var(--bg-1);
    @media (prefers-color-scheme: dark) {
      background-color: var(--bg-3);
    }
    * {
      color: var(--txt);
    }
    .MusicScoreDisplay__score {
      @include pad;
      width: 100%;
    }
  }
}

text.abcjs-title {
  tspan {
    font-size: $txt-ml;
    font-weight: $bold;
  }
}
