@use "../../styles/main.scss" as *;

.MusicScoreDisplay {
  @include stack;
  @include round-border;
  max-height: 250px;
	overflow: auto;
  width: 100%;
  .MusicScoreDisplay__score {
    @include pad;
		width: 100%;
  }
}
