@use "../../styles/main.scss" as *;

.MusicScoreDisplay {
  @include v-stack-c;
  width: 100%;
  .MusicScoreDisplay__score-container {
    @include on-load-animation(fade-in);
    @include v-stack;
    @include round-border;
    overflow: auto;
    max-height: 250px;
    width: 100%;
    background-color: var(--txt-light);
    .MusicScoreDisplay__score {
      @include pad;
      width: 100%;
    }
  }
}
