@use "../../../../../styles/main.scss" as *;

.HarmonizerSettings {
  @include col-grid(min-content auto);
  @include v-center;

  gap: $gap-xxl;
  width: 100%;
  .HarmonizerSettings__label {
    font-size: $txt-ml;
    color: var(--txt);
  }
  .HarmonizerSettings__swipe-menu {
    @include stack;
    @include h-center;
    width: 100%;
    .HarmonizerSettings__swipe-menu__option {
      width: 100%;
      text-align: center;
      font-size: $txt-md;
      text-transform: uppercase;
      font-weight: bold;
      color: var(--txt);
    }
  }
}
