@use "../../styles/main.scss" as *;
.beta-login {
  @include v-stack-c;
  @include center;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-color: var(--bg-2);
  $max-width: 300px;
  .beta-login__header {
    @include v-stack;
    max-width: $max-width;
    text-align: center;
    gap: $gap-lg;
    .beta-login__header__app-name {
      font-size: $txt-lg;
    }
  }
  .beta-login__form {
    @include v-stack-c;
    @include v-center;
    @include pad;
    width: 100%;
    max-width: 250px;
    gap: $gap-lg;
    align-items: center;
    input {
      @include round;
      @include pad;
      width: 100%;
    }
  }
  .footer {
    @include round-border;
    @include pad($gap-lg);
    max-width: $max-width;
    background-color: var(--bg-3);
    * {
      color: var(--txt);
      font-weight: $bold;
    }
    .beta-login__footer__link {
      @include hyperlink;
    }
  }
  .beta-login__sign-up {
    @include v-stack-c;
    @include pad($gap-ml);
    max-width: 350px;
    .beta-login__sign-up__back {
      @include h-stack-c;
      @include b-mar($gap-lg);
      @include hyperlink;
      gap: $gap-md;
    }
    .beta-login__sign-up__text {
      font-size: $txt-ml;
    }
  }
}
