@use "../../styles/main.scss" as *;

.HamburgerDropdown {
  position: relative;
  width: fit-content;
  .Icon {
    @include clickable;
    & > * {
      color: var(--txt) !important;
    }
  }
  .children {
    right: 0;
    z-index: 40;
    position: absolute;
  }
}
