@use "../../styles/main.scss" as m;

.AnchorSection {
  @include m.pad;
  align-items: center;
  min-height: 300px;
  background: linear-gradient(180deg, var(--bg-1) 0%, var(--bg-2) 100%);
  @media (prefers-color-scheme: dark) {
    background: linear-gradient(180deg, var(--bg-3) 0%, var(--bg-2) 100%);
  }
  .header {
    @include m.v-pad;
    @include m.b-mar(m.$gap-xxl);
    color: var(--primary-3);
    font-size: m.$txt-xl;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
  .body,
  .header {
    max-width: 800px;
  }
  .body {
    @include m.h-pad(m.$gap-xxl);
  }
}
