@use "../../../../styles/main.scss" as *;

@mixin active-accordion {
  .NewVariationView__algorithms__options__option__header {
    background: var(--main-gradient);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    &,
    * {
      color: var(--txt-light) !important;
    }
  }
  #generate {
    box-shadow: 0px 0px 5px var(--secondary-2);
    outline: solid var(--caution-4) $border-sm !important;
  }
}

.NewVariationView {
  @include v-stack;
  justify-content: center;
  gap: $gap-ml;
  .NewVariationView__header {
    text-align: center;
    font-size: $txt-ml;
    font-weight: bold;
    letter-spacing: $gap-xs;
    color: var(--txt);
  }
  .NewVariationView__player {
    @include h-mar(auto);
    @include vh-pad($gap-ml, $gap-xxl);
    max-width: 500px;
  }

  .NewVariationView__algorithms {
    @include h-mar(auto);
    @include v-stack-c;
    @include h-center;
    @include vh-pad($gap-md, $gap-xxl);
    @include v-center;

    gap: $gap-lg;
    max-width: 600px;
    width: 100%;

    .NewVariationView__algorithms__prompt {
      @include v-pad;
      font-size: $txt-ml;
      font-weight: bold;
      color: var(--txt);
    }
    .NewVariationView__algorithms__options {
      @include v-stack;
      width: 100%;
      gap: $gap-lg;
      .NewVariationView__algorithms__options__option {
        background-color: var(--bg-2);
        @include round-border;
        &.--is-open {
          .NewVariationView__algorithms__options__option__header {
            cursor: default !important;
          }
          @include active-accordion;
        }
        .NewVariationView__algorithms__options__option__header {
          @include pad($gap-xl);
          @include round;
          @include clickable;
          @include h-stack-c;
          @include trans(0.2s);
          width: 100%;
          gap: $gap-lg;
          background-color: var(--bg-3);
          .NewVariationView__algorithms__options__option__header__text,
          .NewVariationView__algorithms__options__option__header__icon * {
            vertical-align: middle;
            font-weight: bold;
            letter-spacing: $gap-xs;
            text-transform: uppercase;
            font-size: $txt-ms;
            color: var(--txt);
          }
          .NewVariationView__algorithms__options__option__header__icon {
            font-size: $txt-lg;
          }
        }
        &:not(.--is-open):hover {
          @include active-accordion;
        }
        .NewVariationView__algorithms__options__option__settings {
          @include vh-pad($gap-lg, $gap-xl);
          width: 100%;
          .NewVariationView__algorithms__options__option__settings__header {
            @include no-select;
            @include v-pad;
            @include b-pad($gap-xxl);
            text-align: center;
            font-size: $txt-md;
            text-transform: uppercase;
            font-weight: bold;
            color: var(--disabled-3);
          }
        }
      }
    }
  }
  .NewVariationView__suspense {
    width: 100%;
    @include v-mar($gap-xl);
    height: 68px;
    font-size: calc($txt-xxl * 1.6);
    * {
      color: var(--primary-3);
    }
  }
  .NewVariationView__buttons {
    @include v-mar($gap-xl);
    @include h-stack-c;
    width: 100%;
    gap: $gap-md;
    justify-content: space-between;
    .NewVariationView__button {
      @include trans(0.2s);
      color: var(--txt-light);
      border: none;
      font-size: $txt-md;

      &#generate {
        &:disabled {
          background: var(--disabled-4);
        }
        &:not(:disabled) {
          background: var(--main-gradient);
        }
        &:hover:not(:disabled) {
          filter: brightness(120%);
        }
      }
      &#save {
        background-color: var(--danger-3);
        &:hover:not(:disabled) {
          background-color: var(--danger-4);
        }
      }
    }
  }
  .NewVariationView__preview__player {
    @include v-mar($gap-lg);
  }

  .NewVariationView__preview__label {
    @include v-mar($gap-lg);
    font-size: $txt-md;
    letter-spacing: $gap-xs;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--disabled-3);
  }
}

.dark .NewVariationView {
  .NewVariationView__button {
    &#save {
      background-color: var(--danger-4);
      &:hover:not(:disabled) {
        background-color: var(--danger-5);
      }
    }
  }
}
